.banList {
    width: 348px;
    height: 859px;
    background-color: pink;
    
    position: fixed; 
    top: 50%;
    left: 165%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
